.navbar-section {
  width: 100%;
  height: 5em;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  z-index: 99;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-section .navbar {
  width: 90%;
  margin: auto;
}

.navbar-section .navbar ul a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 2px solid transparent;
}

.navbar-section .navbar ul a:hover {
  color: #25bb8d;
  border-bottom: 2px solid #25bb8d;
}

.navbar-section .navbar .login-register a {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

.navbar-section .navbar .login-register .border-button {
  border: 1px solid #25bb8d;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-section .navbar .login-register .border-button:hover {
  background: #25bb8d;
  color: white;
}

.navbar-section.scrolled {
  height: 4em;
  -webkit-box-shadow: 0 5px 5px -3px #eaeaea;
          box-shadow: 0 5px 5px -3px #eaeaea;
}

.hero-section {
  width: 100%;
  margin: auto;
}

.hero-section .hero {
  min-height: 100vh;
}

.hero-section .hero h1.text-hero {
  display: inline-block;
  width: 20em;
}

.hero-section .hero p.text-description {
  display: inline-block;
  width: 40em;
  margin: 2em 0;
  line-height: 28px;
  word-spacing: 2px;
}

.hero-section .hero .search-section {
  width: 50%;
}

.hero-section .hero .search-section .search {
  width: 100%;
}

.hero-section .hero .search-section .search input {
  padding: 0.8rem 1rem;
  width: 80%;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 12px 1px #d0d0d0;
          box-shadow: 0px 2px 12px 1px #d0d0d0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-section .hero .search-section .search input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 4px 20px -1px #9e9e9e;
          box-shadow: 0px 4px 20px -1px #9e9e9e;
}

.hero-section .hero .search-section .search button {
  background: orange;
  color: white;
  padding: 0.8rem 1rem;
  width: 20%;
  margin-left: 1.5rem;
  white-space: nowrap;
  border: none;
  border-radius: 3px;
}

.about-section {
  width: 100%;
}

.about-section .about {
  width: 80%;
  min-height: 80vh;
  margin: auto;
  padding-bottom: 5em;
}

.about-section .about p {
  line-height: 28px;
  word-spacing: 2px;
}

.about-section .about p.text-description {
  margin: 3em 0;
  margin-bottom: 0;
}

.about-section .about .box-image {
  width: 100%;
  height: 20em;
  overflow: hidden;
}

.about-section .about .box-image img {
  width: 100%;
  border-radius: 10px;
}

.about-section .about .card {
  padding: 2rem;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 26px 3px #e0e0e0;
          box-shadow: 0px 0px 26px 3px #e0e0e0;
}

.about-section .about .card .card-logo {
  margin-bottom: 5px;
  font-size: 2.3rem;
  border-radius: 50%;
  padding: 13px;
  background: #dfdfdf;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-section .about .card:hover {
  background-color: #25bb8d;
}

.about-section .about .card:hover .card-logo {
  color: #25bb8d;
  background-color: white;
}

.about-section .about .card:hover p {
  color: white;
}

.course-section {
  width: 100%;
  margin-bottom: 5em;
}

.course-section .course {
  width: 80%;
  margin: auto;
}

.course-section .course p.text-description {
  margin-top: 1rem;
  width: 40em;
  line-height: 28px;
  word-spacing: 2px;
}

.course-section .course .card {
  height: 26em;
  -webkit-box-shadow: 0px 5px 15px -1px #e0e0e0;
          box-shadow: 0px 5px 15px -1px #e0e0e0;
  padding: 1.5rem;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  position: relative;
}

.course-section .course .card h5 {
  line-height: 30px;
  word-spacing: 2px;
}

.course-section .course .card .status {
  color: #25bb8d;
  font-size: 0.9rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.course-section .course .card .card-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.course-section .course .card .card-image img {
  border-radius: 5px;
  width: 100%;
}

.course-section .course .card .seperate {
  width: 87%;
  margin: auto;
  margin-top: 1em;
  border-top: 2px solid #25bb8d;
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  padding-top: 10px;
}

.course-section .course .card .seperate .rating {
  width: 40%;
}

.course-section .course .card .seperate .rating i {
  font-size: 20px;
  color: orange;
  margin: 0 3px;
}

.course-section .course .card .seperate .fa-chevron-circle-right {
  font-size: 30px;
  color: #25bb8d;
}

.footer-section {
  width: 100%;
  height: 10em;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  background: #363636;
}

.footer-section .footer {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }
  .navbar-section ul {
    display: none;
  }
  .navbar-section .navbar-title {
    font-size: 1rem;
  }
  .navbar-section .login-register a {
    margin: 0 !important;
  }
  .hero-section .hero h1.text-hero,
  .hero-section .hero p.text-description {
    width: 100%;
  }
  .hero-section .hero p.text-description {
    margin: 4em 0;
  }
  .hero-section .hero h1.text-hero {
    font-size: 1.5rem;
  }
  .hero-section .hero .search-section {
    width: 80%;
  }
  .about-section {
    margin-top: 3em;
  }
  .about-section .about p.text-description {
    margin: 1rem 0;
  }
  .about-section .about .box-image {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }
  .about-section .about .card {
    -webkit-box-shadow: 0px 5px 15px -1px #e0e0e0;
            box-shadow: 0px 5px 15px -1px #e0e0e0;
  }
  .course-section .course p.text-description {
    width: 100%;
  }
  .course-section .course .card {
    height: 18em;
  }
  .course-section .course .card .card-image {
    height: 5.5em;
  }
  .course-section .course .card .tag {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
  .course-section .course .card h5.title {
    font-size: 0.9rem;
    line-height: 20px;
    word-spacing: 0;
  }
  .course-section .course .card .seperate {
    width: 82%;
    bottom: 1em;
  }
  .course-section .course .card .seperate .rating i {
    font-size: 10px;
    margin: 0;
  }
}
/*# sourceMappingURL=component.css.map */